
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
p {
    color: black;
    font-size: 2rem;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
.boton-amarillo {
    background-color: #E08709;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem; /* Adjusted margin value */
    display: inline-block;
    border: none;
}

.boton-amarillo:hover {
    background-color: #C77808;
    cursor: pointer;
}

.boton-amarillo-block {
    background-color: #E08709;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem; /* Adjusted margin value */
    display: block;
    border: none;
}

.boton-amarillo-block:hover {
    background-color: #C77808;
    cursor: pointer;
}

.boton-verde {
    background-color: #71B100;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem; /* Adjusted margin value */
    display: inline-block;
    border: none;
}

.boton-verde:hover {
    background-color: #619800;
    cursor: pointer;
}
a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {

    margin: 5rem / 2 0;
    font-weight: 300;
    text-align: center;

    
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

.seccion {
    margin-top: 5rem / 2;
    margin-bottom: 5rem / 2;
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}
.header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.header.inicio {
    background-position: center center;
    background-size: cover;
}
.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    text-align: left;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 2;
    max-width: 60rem;
}
.icono {
    text-align: center;
}

.icono img {
    height: 10rem;
}

.icono h3 {
    text-transform: uppercase;
}
.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}
.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.derecha .dark-mode-boton {
    width: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    filter: invert(100%);
}

.derecha .dark-mode-boton:hover {
    cursor: pointer;
}

.navegacion{
    display: flex;
    justify-content: center;
    gap: 5rem;
    background-color: black;
    margin-top: 2rem;
}
.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;
}

.navegacion a:hover {
    color: #71B100;
}


.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;
}

.iconos-caracteristicas li {
    flex: 1;
    display: flex;
}

.iconos-caracteristicas li img {
    flex: 0 0 3rem;
    margin-right: 1rem;
}

.iconos-caracteristicas li p {
    font-weight: 900;
}



.anuncio {
    background-color: #f2f2f2; /* Adjusted color */
    border: 1px solid #cccccc; /* Adjusted color */
    margin-bottom: 2rem;
}

.anuncio .contenido-anuncio {
    padding: 2rem;
}

.anuncio h3,
.anuncio p {
    margin: 0;
}
.contenedor-anuncios {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
.iconos-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
.precio {
    color:#71B100 ;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}



.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: 10rem 0; /* Adjusted padding */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-contacto h2 {
    font-size: 4rem;
    font-weight: 900;
    color: black;
}

.imagen-contacto p {
    font-size: 1.8rem;
    color: black;
}

.footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}
.footer-text{
    text-align: center;
    color: white;
}
.page-footer{
    background-color:#333333;

}
